{% extends 'layout/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ad.title}}</title>
</head>
<body>
    {% block content %}
        Автор: {{ad.author}}<br>
        Дата создания: {{ad.dateCreation}}<br>
        Категория: {{ad.adCategory}}<br><br><br>
        {{ad.text}}<br><br>
        <a class="btn btn-primary" href="{% url 'main_page' %}">На главную</a><br><br>
        <a class="btn btn-primary" href="{% url 'ad_update' ad.id %}">Редактировать объявление</a><br><br>
        <a class="btn btn-primary" href="{% url 'ad_delete' ad.id %}">Удалить</a>
    {% endblock content %}
</body>
</html>