{% extends 'layout/base.html' %}
{% block title %}
<h1>Добро пожаловать {{user.username}}!</h1>
{% endblock title %}

{% block content %}
    <h3>Все объявления:</h3>
    {% if ads %}
        {% for ad in ads %}
            <a href="{% url 'ad' ad.id %}">{{ad.title}} (Категория: {{ad.adCategory}})<br><br></a>
        {% endfor %}

        {% include 'bulletin_board_app/parts/paginator.html' %}

    {% else %}
        <h6>Объявлений пока к сожалению нет:(</h6>
    {% endif %}
    <br><br>
    <a class="btn btn-primary" href="{% url 'main_page' %}">Добавить объявление</a>
{% endblock content %}